<form *ngIf="ringers">
  <mat-form-field class="mt-2 w-100">
    <input
          type="text"
          placeholder="Sign In Ringers"
          aria-label="Number"
          id="search"
          matInput
          [formControl]="form"
          [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="addSignIn()">
      <mat-option *ngFor="let ringer of filteredOptions | async" [value]="ringer">
        {{ringer.fullName}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>


<div class="scrollable">
  <table class="table" *ngIf="sheet.signIns">
    <tr *ngFor="let signIn of sheet.signIns"
      [ngClass]="{'unassigned': !signIn.isAssigned, 'assigned': signIn.isAssigned}"
    >
      <td>{{signIn.ringer.fullName}}</td>

    </tr>
  </table>
</div>


