<p>ringer-sign-in works!</p>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           id="search"
           matInput
           [formControl]="form"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let ringer of filteredOptions | async" [value]="ringer">
        {{ringer.getFullName()}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button class="button" (click)="addSignIn()">Submit</button>
</form>

<ul>
  <li *ngFor="let ringer of signIns">
    {{ringer.getFullName()}}
  </li>
</ul>
