<div class="container">
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>Welcome,</mat-card-title>
      <mat-card-subtitle>What would you like to do today?</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <div>
        <button mat-raised-button>Go to today</button>
      </div>
      <div class="spacer"></div>
      <div>
        <button mat-raised-button>Create a new sheet</button>
      </div>
      <div class="spacer"></div>
      <div>
        <p>Recent sheets:</p>
        <div class="flex-row">
          <button mat-raised-button>11/23</button>
          <button mat-raised-button>11/24</button>
          <button mat-raised-button>11/25</button>
        </div>
      </div>
      <div class="spacer"></div>
      <div>
        <button mat-raised-button>Add Ringer</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
