<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="pt-3 w-25 mx-auto">
        <h2>Create new Sheet:</h2>
        <form class="form">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-event" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                    <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                  </svg>
                </button>
              </div>
            </div>
            <button class="btn btn-primary mt-2 btn-block" (click)="addSheet()">Add Sheet</button>
          </div>
        </form>
        <h2 class="pt-3">Select a date:</h2>
        <div class="list-group">
          <a *ngFor="let sheet of sheets" class="list-group-item list-group-item-action" (click)="goTo(sheet)">{{sheet.date}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
