.sidebar {
  background-color: white;
  height: calc(100vh - 64px);
  min-width: 200px;
}

.highlight{
  background-color: blanchedalmond;
  cursor: pointer;
}

.highlight:hover{
  background-color: rgb(241, 226, 199);
}

.highlight:active{
  background-color: rgb(250, 240, 225);
}

table {
  background-color: white;
}

.blue {
  background-color: rgb(139, 194, 219);
}

.selectedRow {
  background-color: rgb(201, 218, 180);
}
