.sidebar {
  background-color: white;
  /* height: calc(100vh - 64px); */
  width: 256px;
  position: fixed;
  top: 65px;
  bottom: 0;
}

.main {
  position: fixed;
  top: 65px;
  left: 256px;
  bottom: 0;
  right: 0;
}

.highlight{
  background-color: blanchedalmond;
}

table {
  background-color: white;
}

.blue {
  background-color: rgb(139, 194, 219);
}

.selectedRow {
  background-color: rgb(201, 218, 180);
}

.dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
