<div>
  <div class="container sidebar">
      <app-ringer-sign-in
      ></app-ringer-sign-in>
    </div>
    <div class="container main">
      <h1 class="text-center mt-2">Sign in Sheet</h1>
      <table class="table table-sm">
        <thead>
          <th scope="col">Id</th>
          <th scope="col">Store</th>
          <th scope="col">NickName</th>
          <th scope="col">Location</th>
          <th scope="col">Type</th>
          <th scope="col">Ringer</th>
        </thead>
        <tbody *ngIf="sheet.sheetLocations">
          <tr *ngFor="let store of sheet.sheetLocations" >
            <!-- temp class - should be dynamic -->
            <td class="blue">{{store.storeCode}}</td>
            <td>{{store.storeName}}</td>
            <td>{{store.nickName}}</td>
            <td>{{store.address}}</td>
            <td>{{store.ringerType}}</td>

            <td width="200px">
              <div ngbDropdown container="body" (openChange)="$event ? null : resetFilter();">
                <button ngbDropdownToggle class="btn btn-light btn-sm btn-block text-left" [ngClass]="{highlight: !store.ringer}">{{store.ringer ? store.ringer.fullName : "Select Ringer"}}</button>
                <div ngbDropdownMenu >

                  <div *ngIf="store.ringer">
                    <button class="text-danger" ngbDropdownItem (click)="onRemoveRinger(store)">Remove Ringer</button>
                    <div class="dropdown-divider"></div>
                  </div>

                  <div class="p-1">
                    <input #searchInput class="form-control" type="text" [(ngModel)]="formValue" placeholder="Filter" (keyup)="onFilter()"/>
                  </div>
                  <button *ngFor="let ringer of filteredRingers"
                  (click)="onRingerSelected(ringer, store)"
                  ngbDropdownItem>
                    {{ringer.fullName}}
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>



