<!-- User is Logged Out -->
<mat-toolbar color="primary" *ngIf="authService.isLoggedOut()">
    <span>Kettle Coordinator</span>

    <span class="spacer"></span>

    <button mat-button routerLink="/login">Login</button>
    <button mat-button routerLink="/register">Register</button>
</mat-toolbar>

<!-- User is Logged In -->
<mat-toolbar color="primary" *ngIf="authService.isLoggedIn()">
    <div>Kettle Coordinator</div>

    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/home">Today</button>
    <button mat-button routerLink="/sheet">Sheets</button>
    <button mat-button routerLink="/ringers">Ringers</button>
    <button mat-button routerLink="/routes">Routes</button>

    <span class="spacer"></span>

    <button mat-button routerLink="/logout">Logout</button>
 </mat-toolbar>
