<!-- User is Logged Out -->
<nav class="navbar navbar-dark navbar-expand-lg bg-danger" *ngIf="authService.isLoggedOut()">
  <div class="navbar-brand">Kettle Coordinator</div>

  <div class="navbar-nav ml-auto">
    <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/register">Register</a>

  </div>
</nav>

<!-- User is Logged In -->
<nav class="navbar navbar-dark navbar-expand-lg bg-danger" *ngIf="authService.isLoggedIn()">
  <div class="navbar-brand">Kettle Coordinator</div>
  <div class="navbar-nav mr-auto">
    <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/home">Today</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/sheets">Sheets</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/ringers">Ringers</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/routes">Routes</a>
  </div>
  <div class="navbar-nav">
    <a class="nav-link" routerLink="/logout">Logout</a>
  </div>
 </nav>
