<div class="container">

    <h1 class="my-3">Ringers</h1>

    <button type="button" class="btn btn-primary mb-3" routerLink="/ringers/new">Add Ringer</button>
    <p *ngIf="isLoading">Loading...</p>
    <table class="table" *ngIf="!isLoading && ringers.length >= 1">
      <thead>
        <tr>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ringer of ringers">
          <td>{{ringer.firstName}}</td>
          <td>{{ringer.lastName}}</td>
          <td>{{ringer.phoneNumber}}</td>
          <td>
            <button class="btn btn-small btn-light" (click)="onDelete(ringer)">Delete</button>
            <a class="btn btn-small btn-light" [routerLink]="['edit/', ringer.id]">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>


  </div>
